### Setup

In [1]:
# imports
import requests
import pandas as pd

In [ ]:
# define urls (get url options from: 'https://gbfs.lyft.com/gbfs/2.3/bkn/gbfs.json')
base_url = 'https://gbfs.lyft.com/gbfs/2.3/bkn/en/'
station_info_url = base_url + 'station_information.json'

## Grab Up-to-Date Stations Info

In [28]:
# make api call
station_response = requests.get(station_info_url)

# if no error then jsonify response and make into df
if station_response.status_code == 200:
    station_data = station_response.json()
    stations_df = pd.DataFrame(station_data['data']['stations'])
else: 
    print(f'Error: {station_response.status_code}')

In [31]:
# save output into stations df
stations_df = stations_df[['short_name', 'name', 'region_id', 'lat', 'lon']]

# display
stations_df.head()

  short_name                      name region_id        lat        lon
0    7082.08            23 Ave & 31 St        71  40.774233 -73.912749
1    3460.06             2 Ave & 37 St        71  40.656240 -74.009330
2    8472.06  Valentine Ave & E 183 St        71  40.856987 -73.898237
3    5540.06             56 Dr & 61 St        71  40.723680 -73.904580
4    8717.07     E 201 St & Briggs Ave        71  40.872070 -73.884590

In [32]:
# check rows,columns
stations_df.shape

(2231, 5)

## Export Output

In [34]:
# export output
stations_df.to_csv('Output/stations.csv', index=False)